@page "/"
@rendermode InteractiveWebAssembly


<PageTitle>main</PageTitle>

<h1>پروژه دانشگاه</h1>
<h3>نام استاد : محمد جواد عقبا طلب </h3>
<h3>تهیه‌کننده: نیما اژدری</h3>
<body>
    <div >
        <h1>پروژه اینترنت اشیا کنترل رشد گیاه</h1>
        <h3>
           
          این پروژه با هدف طراحی و پیاده‌سازی یک سامانه هوشمند جهت کنترل شرایط رشد گیاهان در سیستم مه کشت اجرا شده است.
          </h3>
          <h3>
            این سامانه با استفاده از میکروکنترلر ESP32، سنسورها، عملگرها، و ارتباط با وب، شرایطی همچون رطوبت، نور را پایش و کنترل می‌کند.
        </h3>
        <h3>
            از ویژگی‌های این سیستم می‌توان به استفاده از اینترنت اشیا (IoT)،   کنترل و پایش از راه دور، و قابلیت گسترش با الگوریتم‌های هوش مصنوعی اشاره کرد.
        </h3>

        
    </div>
</body>



